<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Triangles</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in your name and your friend's name to create your custom greeting!</h1>
    <form action='/triangle-check'>
      <div class='form-group'>
        <label for='side-1'>Side 1 height: </label>
        <input id='side-1' name='side-1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='side-2'>Side 2 height:</label>
        <input id='side-2' name='side-2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='side-3'>Side 3 height: </label>
        <input id='side-3' name='side-3' class='form-control' type='text'>
      </div>

      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
